<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="LogManageServiceSoap" maxReceivedMessageSize="6553600" maxBufferSize="6553600"
                        maxBufferPoolSize="6553600" >
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                    realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:43718/LogManageService.asmx" binding="basicHttpBinding" bindingConfiguration="LogManageServiceSoap" contract="LogServiceReference.LogManageServiceSoap" name="LogManageServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
